*.os
*.o
*.pyc
*~
*.old
*.orig
*.gcno
*.gcda
*/Files.cmake
db/
ModuleBuild.cmake
benchmark/CMakeLists.txt
benchmark/Files.cmake
bin/CMakeLists.txt
bin/Files.cmake
dependency/CMakeLists.txt
doc/_*
doc/auto_examples
examples/CMakeLists.txt
.history

test/CMakeLists.txt
src/CMakeLists.txt
pyext/CMakeLists.txt
pyext/documentation.i
utility/CMakeLists.txt
build
cmake-build-*
scratch
TODO/
.ipynb_checkpoints
