*.os
*.o
*.pyc
*~
*.old
*.orig
*.gcno
*.gcda
*/Files.cmake
ModuleBuild.cmake
CMakeModules
benchmark/CMakeLists.txt
benchmark/Files.cmake
bin/CMakeLists.txt
bin/Files.cmake
dependency/CMakeLists.txt
doc/_build
doc/examples
examples/CMakeLists.txt

test/CMakeLists.txt
src/CMakeLists.txt
pyext/CMakeLists.txt
pyext/documentation.i
utility/CMakeLists.txt
build
cmake-build-*
scratch


